


.modal#modal-button(tabindex data-target="#myModal")
  .modal-dialog#myModal
    .modal-content
      .modal-header
        h5.modal-title.mx-auto Derniers cours
        //- button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
      .modal-body
      .modal-footer
        button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Close
      
