#nav 
  .col-sm.nav-align 
    h1 Kitchen 
  .col-sm.nav-align
    a(href="/")
      span.button Accueil
    a(href="/courses")
      span.button Courses
    a(href="/subscribers")
      span.button Contact
    a(href="/users")
      span.button Utilisateurs