extends ../layout
block content
  .data-form 
    form.form-signin(action="/users/login" method="post")
      h2.form-signin-heading Connexion
      label(for="inputEmail") Adresse email :
      input.form-control(type="email", name="email" id="inputEmail" placeholder="Adresse email " autofocus )
      label(for="inputPassowrd") Mot de passe  :
      input.form-control(type="password", name="password" id="inputPassowrd" placeholder="Mot de passe" )
      br
      button.btn.btn-lg.btn-primary.btn-block(type="submit") Se connecter 