extends ../layout
block content
  .data-form 
    form.form-signin(action="/users/create" method="post")
      h2.form-signin-heading Creation d'un nouvel utilisateur
      label(for="inputFirst") FirstName:
      input.form-control(type="text", name="first" id="inputFirst" placeholder="Name" autofocus)
      label(for="inputLast") LastName:
      input.form-control(type="text", name="last" id="inputLast" placeholder="Name")
      label(for="inputEmail") Adresse email :
      input.form-control(type="email", name="email" id="inputEmail" placeholder="Adresse email " )
      label(for="inputPassowrd") Mot de passe  :
      input.form-control(type="password", name="password" id="inputPassowrd" placeholder="Mot de passe" )
      label(for="inputZipCode") zipCode: 
      input.form-control(type="text", name="zipCode" id="inputZipCode" placeholder="code postal" required="required", pattern="[0-9]{5}")
      br
      button.btn.btn-lg.btn-primary.btn-block(type="submit") Enregister 